# 忽略 Python 虚拟环境
venv/
env/
__pycache__/

# 忽略巨大的数据集和模型产物
dataset/
output_lora/*
*.safetensors
*.bin
# 👇 白名单：
!output_lora/madias_style_lora/
!output_lora/madias_style_lora/*

# 忽略测试生成的图片
*.png
*.jpg